<div class="appointment">
  <form action="" [formGroup]="userForm"><br>
      <label for="pname"> username </label>
      <input type="text"  name="pname" formControlName="pname" id="pname"> <br><br>
      <label for="date">password</label>
      <input type="datetime" name="date"formControlName="date" id="date">
      <label for="slot">Choose a car:</label>

<select name="slot" id="slot">
  <option value="morning">9.00 to 12.00</option>
  <option value="afternoon">2.00 to 4.00</option>
  <option value="evening">5.30 to 8.00</option>
  <!-- <option value="audi">Audi</option> -->
</select>
      <!-- <label for="date">password</label>
      <input type="datetime" name="date"formControlName="date" id="date">
      <label for="date">password</label>
      <input type="datetime" name="date"formControlName="date" id="date"> -->
  </form>
</div>

<button (click)="loginSubmit()">submit</button>
  