

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">XYZ STREET</div>
          <div class="text-two">COIMBATORE 641 004</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">986543210</div>
          <div class="text-two">8976543210</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">admin@gmail.com</div>
          
        </div>
      </div>
      <div class="right-side">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuqOVG8NKd2eUg5SsgWa3zTMKm-SAaSzGtAiCkva9KFw&usqp=CAU&ec=48665701" alt="rooms" width="100%" height="100%"/>
   
    </div>
    </div>
  </div>
</body>


         
     
    