


<ul>
    <li><a routerLink="/home1">HOME</a></li>
    <li><a routerLink="/aboutus">ABOUT</a></li>
    <li><a routerLink="/gallery">GALLERY</a>></li>
    <li><a routerLink="/contact">CONTACT</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">DASHBOARD</a>
      <div class="dropdown-content">
        <a routerLink="/patient-dashboard">PATIENT DASHBOARD</a>
        <a routerLink="/doctor-dashboard">DOCTOR DASHBOARD</a>
        <a routerLink="/supportingstaffdashboard">SUPPORTING_STAFF DASHBOARD</a>
        <a routerLink="/department">DEPARTMENT DASHBOARD</a>
        <a routerLink="/admin-dashboard">ADMIN DASHBOARD</a>
      </div>
    </li>
  </ul>
  
  




<router-outlet></router-outlet>


