<p>OUR GALLERY</p>
<table>
<tr>
    <td><img src="https://tse1.mm.bing.net/th?id=OIP.eslhWAoMfM0H_PKdwamXTAHaFj&pid=Api&P=0" alt="rooms" width="100%" height="100%"/></td>
    <td><img src="https://tse3.mm.bing.net/th?id=OIP.js_m--7-FZoWCNrtRA-kQwHaFj&pid=Api&P=0" alt="outerview" width="100%" height="100%"></td>
    <td><img src="https://tse4.mm.bing.net/th?id=OIP.OGNAk2PKYgiVJu5zA4-X-QHaFj&pid=Api&P=0" alt="emergency" width="100%" height="100%"></td></tr>
<tr>
    <td><img src="https://tse4.mm.bing.net/th?id=OIP.BLtHK08PFydupJctTAPgBgHaE8&pid=Api&P=0" alt="portigo"></td>
    <td><img src="https://tse2.mm.bing.net/th?id=OIP.pVXI0Uhy5ydjwmzHKWfP6QHaE7&pid=Api&P=0" alt="emergency" width="100%" height="100%"></td>
    <td><img src="https://tse4.mm.bing.net/th?id=OIP.pyCzyVPKAfSqUSq-KusrXgHaE8&pid=Api&P=0" alt="bed" width="100%" height="100%"></td></tr>
    <tr><td><img src="https://tse3.mm.bing.net/th?id=OIP.VEloQDExdBKd2fkhoUJ5aQHaFj&pid=Api&P=0" alt="portigo1"></td>
    <td><img src="https://tse4.mm.bing.net/th?id=OIP.sRN7o7Z9A1D1He-LxWBGZwHaE8&pid=Api&P=0" alt="opertion"></td></tr>
</table>